// 字号

$--font-size-title-large-Fi1:36rpx;
$--font-size-title-medium-Fi2:32rpx;
$--font-size-title-medium-Fi3:30rpx;

$--font-size-desc-large-FS1:28rpx;
$--font-size-desc-small-FS2:26rpx;

$--font-size-weak-large-FW1:24rpx;
$--font-size-weak-medium-FW2:22rpx;
$--font-size-weak-small-FW3:20rpx;

// 价格

$--font-size-price-large-FPi1:60rpx;
$--font-size-price-medium-FPS1:40rpx;
$--font-size-price-small-FPS2:36rpx;

$--font-size-price-weak-FPW1:28rpx;
$--font-size-price-through-FPW2:20rpx;

$--dialog-width:580rpx;
$--dialog-radius:20rpx;
$--dialog-wrap-padding:40rpx;
$--dialog-close-icon-size:40rpx;
$--dialog-content-line-height:1.5;

$--toast-font-size:26rpx;
$--toast-max-width:550rpx;
