@import "common/var";
@import "mixin/mixin";

:export {
  primaryColorCM1: $--primary-color-CM1;
  primaryColorCM19: $--primary-color-CM1-9;
  primaryColorCM18: $--primary-color-CM1-8;
  primaryColorCM17: $--primary-color-CM1-7;
  primaryColorCM16: $--primary-color-CM1-6;
  primaryColorCM15: $--primary-color-CM1-5;
  primaryColorCM14: $--primary-color-CM1-4;
  primaryColorCM13: $--primary-color-CM1-3;
  primaryColorCM12: $--primary-color-CM1-2;
  primaryColorCM11: $--primary-color-CM1-1;
  secondaryColorB1: $--secondary-color-b1;
  secondaryColorB19: $--secondary-color-b1-9;
  secondaryColorB18: $--secondary-color-b1-8;
  secondaryColorB17: $--secondary-color-b1-7;
  secondaryColorB16: $--secondary-color-b1-6;
  secondaryColorB15: $--secondary-color-b1-5;
  secondaryColorB14: $--secondary-color-b1-4;
  secondaryColorB13: $--secondary-color-b1-3;
  secondaryColorB12: $--secondary-color-b1-2;
  secondaryColorB11: $--secondary-color-b1-1;
  secondaryColorCA2: $--secondary-color-CA2;
  secondaryColorCA29: $--secondary-color-CA2-9;
  secondaryColorCA28: $--secondary-color-CA2-8;
  secondaryColorCA27: $--secondary-color-CA2-7;
  secondaryColorCA26: $--secondary-color-CA2-6;
  secondaryColorCA25: $--secondary-color-CA2-5;
  secondaryColorCA24: $--secondary-color-CA2-4;
  secondaryColorCA23: $--secondary-color-CA2-3;
  secondaryColorCA22: $--secondary-color-CA2-2;
  secondaryColorCA21: $--secondary-color-CA2-1;
  fontColorFC1: $--font-color-FC1;
  fontColorFC2: $--font-color-FC2;
  fontColorFC3: $--font-color-FC3;
  borderColorPC1: $--border-color-PC1;
  splitlineColorFgxC1: $--splitline-color-FgxC1;
  backgroundColorBgC1: $--background-color-BgC1;
  backgroundColorBgC2: $--background-color-BgC2;
  backgroundColorBgC3: $--background-color-BgC3;
  primaryFontGrey2: $--primary-font-grey-2;
  primaryFontGrey3: $--primary-font-grey-3;
  primaryFontWrite2: $--primary-font-write-2;
  primaryBackgroundWrite1: $--primary-background-write-1;
  playColor: $--play-color;
  hotelColor: $--hotel-color;
  preheatColor: $--preheat-color;
  couponColor: $--coupon-color;
  couponFont: $--coupon-font;
  memberColorMCM1: $--member-color-MCM1;
  memberColorMCM2: $--member-color-MCM2;
  memberColorMCA2: $--member-color-MCA2;
  memberFontColorMFC1: $--member-font-color-MFC1;
  memberBackgroundColorMBGC1: $--member-background-color-MBGC1;
  fontSizeTitleLargeFi1: $--font-size-title-large-Fi1;
  fontSizeTitleMediumFi2: $--font-size-title-medium-Fi2;
  fontSizeTitleMediumFi3: $--font-size-title-medium-Fi3;
  fontSizeDescLargeFS1: $--font-size-desc-large-FS1;
  fontSizeDescSmallFS2: $--font-size-desc-small-FS2;
  fontSizeWeakLargeFW1: $--font-size-weak-large-FW1;
  fontSizeWeakMediumFW2: $--font-size-weak-medium-FW2;
  fontSizeWeakSmallFW3: $--font-size-weak-small-FW3;
  fontSizePriceLargeFPi1: $--font-size-price-large-FPi1;
  fontSizePriceMediumFPS1: $--font-size-price-medium-FPS1;
  fontSizePriceSmallFPS2: $--font-size-price-small-FPS2;
  fontSizePriceWeakFPW1: $--font-size-price-weak-FPW1;
  fontSizePriceThroughFPW2: $--font-size-price-through-FPW2;
  dialogWidth: $--dialog-width;
  dialogRadius: $--dialog-radius;
  dialogWrapPadding: $--dialog-wrap-padding;
  dialogCloseIconSize: $--dialog-close-icon-size;
  dialogContentLineHeight: $--dialog-content-line-height;
  toastFontSize: $--toast-font-size;
  toastMaxWidth: $--toast-max-width;
}